.chart-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
  
}

@media (max-width: 639px) {
  .chart-wrapper {
    width: 235px;
    height: 235px;
  }
}

/* @media (min-width: 640px) and (max-width: 1023px) {
  .chart-wrapper {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1024px) {
  .chart-wrapper {
    width: 100px;
    height: 100px;
  }
} */